body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #e6e6e6;
}

body a,
html a {
  color: white;
}

body a:hover,
html a:hover {
  color: #6d0707;
}

#omar-nav {
  background-color: black;
  color: black;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  padding: 1% 3% 1% 3%;
  text-transform: uppercase;
}

#omar-nav #navbar-logo {
  width: 150px;
  height: auto;
  color: white;
}

#omar-nav #navbar-logo.grow {
  transition: all .2s ease-in-out;
}

#omar-nav #navbar-logo.grow:hover {
  transform: scale(1.33);
  filter: invert(87%) sepia(53%) saturate(4264%) hue-rotate(348deg) brightness(85%) contrast(107%);
}

#omar-nav #navbar-brand a {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
}

#omar-nav #navbar-brand.grow {
  transition: all .2s ease-in-out;
}

#omar-nav #navbar-brand.grow:hover {
  transform: scale(1.15);
}

#info-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1% 0 1% 0;
}

#info-header h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #6d0707;
}

#info-header h3 {
  text-align: center;
}

#info-header #queryButton {
  margin: 0 40% 0 40%;
}

#info-header #dateRange {
  text-align: center;
  background-color: #e6e6e6;
  margin: 0 40% 0 40%;
}

#map {
  height: 100%;
  margin: 0 15% 5% 15%;
}

footer {
  display: flex;
  flex-basis: auto;
  padding: 0 0 0 0;
  background-color: black;
  color: white;
  place-content: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

footer div div {
  padding: 1.0rem 0.0rem 1.0rem 0.0rem;
}

footer div h4 {
  text-transform: uppercase;
  padding: 3% 0 3% 0;
  font-weight: 700;
}

footer div a {
  color: white;
}

footer div ul {
  padding: 0 0 0 0;
}

footer div ul li {
  display: inline-block;
}

footer div ul li .link-icon {
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 50%;
  border: 0.2rem solid #6d0707;
  color: #6d0707;
  display: inline-flex;
  font-size: 1.5rem;
  height: 50px;
  justify-content: center;
  width: 50px;
}

footer div ul li .link-icon.grow {
  transition: all .2s ease-in-out;
}

footer div ul li .link-icon.grow:hover {
  background-color: #cccccc;
  border-color: #550505;
  color: #550505;
  font-weight: bold;
  transform: scale(1.25);
}

footer div ul li .link-icon:active, footer div ul li .link-icon:focus {
  background-color: #bfbfbf;
  border-color: #3d0404;
  color: #3d0404;
}

footer div ul li .link-icon.active {
  background-color: #b3b3b3;
  border-color: #250202;
  color: #250202;
}

footer div a.copyright {
  text-decoration: none;
  color: #6d0707;
  font-size: 1.0rem;
  position: relative;
}

footer div a.copyright:hover {
  font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body,
  html {
    margin: 0;
  }
  #omar-nav {
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #omar-nav #navbar-logo {
    width: 100px;
    height: auto;
  }
  #omar-nav #navbar-brand a {
    font-size: 0.75rem;
    transition: font-size 0.3s;
  }
  #info-header h1 {
    font-size: 1.25rem;
  }
  #info-header h3 {
    font-size: 0.85rem;
  }
  #map {
    margin: 0 5% 5% 5%;
  }
  footer div div {
    padding: 1% 0 0 0;
  }
  footer div div h4 {
    padding: 1% 0 1% 0;
    font-weight: 500;
    font-size: 1.5rem;
  }
  footer div div li {
    display: inline-block;
  }
  footer div div li .link-icon {
    height: 50px;
    width: 50px;
  }
  footer div div .copyright {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .hide-when-small {
    display: none;
  }
}
