// FONTS & COLORS
$font-1: 'Montserrat', sans-serif;
$font-2: 'Lato', sans-serif;
$font-3: 'Comfortaa', cursive;
$Sam-Parker-Grey: #333333;
$Omar-Drk-Red: #6d0707;
$primary: white;
$secondary: black;
$tertiary: $Omar-Drk-Red;
$quaternary: #333333;
$quinary: #009900;
$senary: $Sam-Parker-Grey;
$septenary: $primary;
$octonary: $primary;
$nonary: $primary;
$denary: #ffffff;

// BOOTSTRAP FONTS / SIZES:
// let 1.0rem = 16px, then
// 0=0, 1=0.25rem, 2=0.5rem, 3=1.0rem(unit), 4=1.5rem, 5=3.0rem

body,
html {
	height: 100%;
	font-family: $font-1;
	background-color: darken($primary, 10%);
	a {
		color: $primary;
	}
	a:hover {
		color: $tertiary;
	}
}

#omar-nav {
	background-color: $secondary;
	color: $secondary;
	display: flex;
	flex-direction: row;
	font-family: $font-1;
	padding: 1% 3% 1% 3%;
	text-transform: uppercase;
	#navbar-logo {
		width: 150px;
		height: auto;
		color: $primary;
		&.grow {
			transition: all .2s ease-in-out;
		}
		&.grow:hover {
			// font-weight: bold;
			transform: scale(1.33);
			filter: invert(87%) sepia(53%) saturate(4264%) hue-rotate(348deg) brightness(85%) contrast(107%);
		}
	}
	#navbar-brand {
		a {
			text-transform: uppercase;
			// color: $primary;
			font-size: 1.75rem;
			font-weight: 700;
		}
	}
	#navbar-brand.grow {
		transition: all .2s ease-in-out;
	}
	#navbar-brand.grow:hover {
		transform: scale(1.15);
	}
}

#info-header {
	margin: 0;
	padding: 1% 0 1% 0;
	h1 {
		font-family: $font-1;
		text-align: center;
		color: $tertiary;
	}
	h3 {
		text-align: center;
	}
}

#map {
	height: 100%;
	margin: 0 15% 5% 15%;
}

footer {
	display: flex;
	flex-basis: auto;
	padding: 0 0 0 0;
	background-color: $secondary;
	color: $primary;
	place-content: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	div {
		div {
			padding: 1.0rem 0.0rem 1.0rem 0.0rem;
		}
		h4 {
			text-transform: uppercase;
			// text-align: center;
			padding: 3% 0 3% 0;
			font-weight: 700;
		}
		a {
			color: $primary;
		}
		ul {
			padding: 0 0 0 0;

			li {
				display: inline-block;

				.link-icon {
					align-items: center;
					background-color: darken($primary, 10%);
					border-radius: 50%;
					border: 0.20rem solid $tertiary;
					color: $tertiary;
					display: inline-flex;
					font-size: 1.5rem;
					height: 50px;
					justify-content: center;
					width: 50px;
					&.grow {
						transition: all .2s ease-in-out;
						&:hover {
							background-color: darken($primary, 20%);
							border-color: darken($tertiary, 5%);
							color: darken($tertiary, 5%);
							font-weight: bold;
							transform: scale(1.25);
						}
					}
					&:active,
					&:focus {
						background-color: darken($primary, 25%);
						border-color: darken($tertiary, 10%);
						color: darken($tertiary, 10%);
					}
					&.active {
						background-color: darken($primary, 30%);
						border-color: darken($tertiary, 15%);
						color: darken($tertiary, 15%);
					}
				}
			}
		}
		a.copyright {
			text-decoration: none;
			color: $tertiary;
			font-size: 1.0rem;
			position: relative;
			&:hover {
				font-weight: bold;
			}
		}
	}
}

//changes when viewed on small screens
@media screen and (min-width: 0px) and (max-width: 768px) {
	body,
	html {
		margin: 0;
	}
	#omar-nav {
		transition: padding-top 0.3s, padding-bottom 0.3s;
		#navbar-logo {
			width: 100px;
			height: auto;
		}
		#navbar-brand {
			a {
				font-size: 0.75rem;
				transition: font-size 0.3s;
			}
		}
	}
	#info-header {
		h1 {
			font-size: 1.25rem;
		}
		h3 {
			font-size: 0.85rem;
		}
	}
	#map {
		margin: 0 5% 5% 5%;
	}
	footer {
		div {
			div {
				padding: 1% 0 0 0;
				h4 {
					padding: 1% 0 1% 0;
					font-weight: 500;
					font-size: 1.5rem;
				}
				li {
					display: inline-block;
					.link-icon {
						height: 50px;
						width: 50px;
					}
				}
				.copyright {
					font-size: 1.25rem;
					font-weight: 300;
				}
			}
		}
	}
	.hide-when-small {
		display: none;
	}
}
